input
out
out.code
witness
.idea
*.key
verifier.sol
proof.json
output/proof*
output/witness*
.swp
abi.json
venv
__pycache__
validate.zok
verify_merkle_proof.zok
compute_merkle_root.zok
zkRelay.egg-info
